@model List<AddBookModel>

@{
    ViewBag.Title = "Add Book";
    Layout = "_Layout";
}

<section class="jumbotron">
    <h1 class="display-4">Add Book</h1>
</section>


<section class="addNewBookForm">
    <form asp-controller="AddBook" asp-action="" method="POST">
        <div class="form-group">
            <label for="title">Enter book title:</label>
            <input type="text" class="form-control" id="title"/>
        </div>

        <div class="form-group">

            <label for="authorFirstName">Enter first name:</label>
            <input type="text" class="form-control" id="authorFirstName"/>
        </div>

        <div class="form-group">

            <label for="authorLastName">Enter last name:</label>
            <input type="text" class="form-control" id="authorLastName"/>
        </div>
        <div class="form-group">

            <label for="publishedYear">Enter published year:</label>
            <input type="number" class="form-control" id="publishedYear"/>
        </div>
        <input type="submit" class="btn btn-outline-success"/>
    </form>
</section>