@model SearchModel

@{
    ViewBag.Title = "Search";
    Layout = "_Layout";
}

<section class="jumbotron">
    <h1 class="display-4">Search For Books</h1>
</section>


<section class="searchBookForm">
    <form asp-controller="Search" asp-action="SearchResults" method="POST">
        <div class="form-group">
            <label for="title">Search by book title:</label>
            <input type="text" class="form-control" id="title"/>
        </div>

        <div class="form-group">
            <label for="authorFirstName">Search author first name:</label>
            <input type="text" class="form-control" id="authorFirstName"/>
        </div>

        <div class="form-group">
            <label for="authorLastName">Search author last name:</label>
            <input type="text" class="form-control" id="authorLastName"/>
        </div>

        <div class="form-group">
            <label for="publishedYear">Search published year:</label>
            <input type="number" class="form-control" id="publishedYear"/>
        </div>
        
        <input type="submit" class="btn btn-outline-success"/>
    </form>

</section>