@model List<SearchModel>

@{
    ViewBag.Title = "Search Results";
    Layout = "_Layout";
}

<section class="jumbotron">
    <h1 class="display-4">Search Results</h1>
</section>

<section class="searchResults"></section>

<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Title</th>
        <th scope="col">Author First Name</th>
        <th scope="col">Author Last Name</th>
        <th scope="col">Published Year</th>
    </tr>
    </thead>
    @foreach (var searchResults in Model)
    {
        <tbody>
    <tr>
        <td>@searchResults.Title</td>
        <td>@searchResults.AuthorFirstName</td>
        <td>@searchResults.AuthorLastName</td>
        <td>@searchResults.PublishedYear</td>
    </tr>
    </tbody>
    }
</table>