@model List<SearchModel>

@{
    ViewBag.Title = "Search Results";
    Layout = "_Layout";
}

<section class="jumbotron">
    <h2>Search Results</h2>
</section>

<section class="searchResults"></section>

<table class="booksTable">
    <tr>
        <th>Title</th>
        <th>Author First Name</th>
        <th>Author Last Name</th>
        <th>Published Year</th>
    </tr>
    @foreach (var searchResults in Model)
    {
        <tr>
            <td>@searchResults.Title</td>
            <td>@searchResults.AuthorFirstName</td>
            <td>@searchResults.AuthorLastName</td>
            <td>@searchResults.PublishedYear</td>
        </tr>
    }
</table>