@model SearchModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Search For Books</h2>


<section class="formSection">
    <form asp-controller="Search" asp-action="SearchResults" method="POST">
        <label for="title">Search by book title:</label>
        <input type="text" id="title"/>
        <br>

        <label for="authorFirstName">Search author first name:</label>
        <input type="text" id="authorFirstName"/>
        <br>

        <label for="authorLastName">Search author last name:</label>
        <input type="text" id="authorLastName"/>
        <br>

        <label for="publishedYear">Search published year:</label>
        <input type="number" id="publishedYear"/>
        <br>
        <input type="submit"/><br>
    </form>

</section>