@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/index.css" />
</head>

<section class="jumbotron">
    <h1 class="display-4">Welcome to Bookish</h1>
    @* <p>For all your librarian needs</p> *@
</section>

<section class="option buttons">
    <a asp-controller="Search" asp-action="Search"><button type="button" class="btn btn-light">Search Books</button></a>
    <a asp-controller="AddBook" asp-action="AddBook"><button type="button" class="btn btn-light">Add Books</button></a>
    <a asp-controller="" asp-action=""><button type="button" class="btn btn-light">Remove Books</button></a>
    <a asp-controller="" asp-action=""><button type="button" class="btn btn-light">Add Member</button></a>
    <a asp-controller="" asp-action=""><button type="button" class="btn btn-light">Edit Member</button></a>

</section>
