@{
    ViewData["Title"] = "Home Page";
    <link rel="stylesheet" href="~/css/index.css"/>
}

<section class="jumbotron">
    <h1 class="display-4">Welcome to Bookish</h1>
</section>


<section class="option">
    <div class="row">
        <section class="card col" style="width: 18rem;">
            <img class="card-img-top" src="">
            <div class="card-body">
                <h5>Search Books</h5>
                <a asp-controller="Search" asp-action="Search">
                    <button type="button" class="btn btn-light">Search</button>
                </a>
            </div>
        </section>

        <section class="card col" style="width: 18rem;">
            <img class="card-img-top" src="">
            <div class="card-body">
                <h5>Add New Books</h5>
                <a asp-controller="AddBook" asp-action="AddBook">
                    <button type="button" class="btn btn-light">Add</button>
                </a>
            </div>
        </section>
    
        <section class="card col" style="width: 18rem;">
            <img class="card-img-top" src="">
            <div class="card-body">
                <h5>Edit Books</h5>
                <a asp-controller="AddBook" asp-action="">
                    <button type="button" class="btn btn-light">Edit</button>
                </a>
            </div>
        </section>
    </div>
    </section>
    <section class="option">
    <div class="row">
        <section class="card col" style="width: 18rem;">
                <img class="card-img-top" src="">
                <div class="card-body">
                    <h5>Remove Books</h5>
                    <a asp-controller="" asp-action="">
                        <button type="button" class="btn btn-light">Remove</button>
                    </a>
                </div>
            </section>
        
            <section class="card col" style="width: 18rem;">
                <img class="card-img-top" src="">
                <div class="card-body">
                    <h5>Add Members</h5>
                    <a asp-controller="" asp-action="">
                        <button type="button" class="btn btn-light">Add Member</button>
                    </a>
                </div>
            </section>
        
        <section class="card col" style="width: 18rem;">
            <img class="card-img-top" src="">
            <div class="card-body">
                <h5>Edit Members</h5>
                <a asp-controller="" asp-action="">
                    <button type="button" class="btn btn-light">Edit Member</button>
                </a>
            </div>
        </section>

    </div>
</section>

    